<h1 style="text-align: center; padding-top: 200px; font-size: 50px">
    Nutrition Aid
    <br>
    <h3 style="padding-top: 20px;">This application is intended to help those who are having trouble <br>coming up with a meal to eat!</h3>
</h1>

<div style="display: flex; justify-content: center;">
    <button mat-fab extended color="primary" style="margin: 1%;">
        Discover a Random Meal
    </button>
    <button mat-fab extended color="accent" style="margin: 1%;">
        Search for a Meal
    </button>
</div>